@import "nm";
@import url('http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300,700');

body {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    background: lightgrey;
    margin: 0 auto;
    max-width: 50em;
    padding: 2em;
}

h3 {
    margin: 0;
}

.rock--buttons {
    width: 33%;
    float: left;
    margin-bottom: 1em;
}

button {
    float: left;
    font-weight: normal;
    background: white;
    border: 1px solid grey;
    border-radius: 2px;
    padding: .25em .5em;
    margin-right: .25em;
    margin-bottom: .25em;
}

.rock--playing {
    padding: 1em;
    background: white;
    border: 1px solid grey;
    border-radius: 2px;
    margin-bottom: 1em;
}

.rock--setlist {
    clear: both;
    padding: 0;
    list-style-type: none;

    li {
        margin-bottom: .5em;
    }

    a {
        color: darken(darkgrey, 20%);
        text-decoration: none;
    }

    .is-active a {
        color: green;
    }
}

.rock--timerange {
    float: right;
    width: 66%;
    height: 1.5em;
    background: darkgrey;
    border: 1px solid grey;
    border-radius: 2px;

    &.is-seeking {
        animation: seeking 3s linear infinite both;
    }
}

@keyframes seeking {
    0% {
       background: darkgrey;
    }
    50% {
       background: darken(darkgrey, 20%);
    }
    100% {
       background: darkgrey;
    }
}

.rock--timeposition {
    width: 0%;
    height: 100%;
    background: white;
    cursor: pointer;
    transition: width, .1s;
}